<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <!-- Contains of the configuration for the 0mq addressing, and database access. Last edited by Conor Hayes on 26/04/15 @ 8.39pm -->
    <appSettings>
        <add key="serverName" value="localhost" />
        <add key="namespace" value="0" />
        <add key="startAuctionTopic" value="StartAuction" />
        <add key="auctionStartedAckTopic" value="ACK AuctionStarted" />
        <add key="notifyBiddersAckTopic" value="ACK NotifyBidder" />
        <add key="startAuctionAddr" value="tcp://172.31.32.20:2000" />
        <add key="notifyBiddersAckAddr" value="tcp://172.31.32.22:2200" />
        <add key="pubAddr" value="tcp://*:2100" />
        <add key="auctionStartedAckAddr" value="tcp://172.31.32.23:2300" />
        <add key="auctionStartedTopic" value="AuctionStarted" />
        <add key="notifyBiddersTopic" value="NotifyBidder" />
        <add key="heartbeatSubAddr" value="tcp://172.31.32.32:3200" />
        <add key="serviceName" value="StartAuction" />
        <add key="checkHeartbeatTopic" value="CheckHeartbeat" />
        <add key="checkHeartbeatTopicResponse" value="Ok" />
    </appSettings>
</configuration>